<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>Томъёо</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="formula">
      <mat-icon>functions</mat-icon>
      <span>Томъёо</span>
    </button>
    <button mat-menu-item routerLink="category">
      <mat-icon>list</mat-icon>
      <span>Ангилал</span>
    </button>
    <button mat-menu-item>
      <mat-icon>arrow_back</mat-icon>
      <span>Гарах</span>
    </button>
  </mat-menu>
   </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
